<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>EMI Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">EMI Calculator</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="emiForm">
        <mat-form-field class="full-width">
          <mat-label>Loan Amount</mat-label>
          <input type="number" matInput placeholder="Enter Loan Amount" formControlName="loanAmount">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Interest Rate(%)</mat-label>
          <input type="number" matInput placeholder="Enter Interest Rate(%)" formControlName="interestRate">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Loan Tenure</mat-label>
          <input type="number" matInput placeholder="Enter Loan Tenure" formControlName="loanTenure">
        </mat-form-field>
        <mat-radio-group aria-label="Select an option" formControlName="tenureType">
          <mat-radio-button [value]="1">Months</mat-radio-button>
          <mat-radio-button [value]="12">Years</mat-radio-button>
        </mat-radio-group>
        <div class="button-row">
          <button mat-raised-button (click)="clearForm()">Clear</button>
          <button mat-raised-button color="primary" [disabled]="!emiForm.valid" (click)="calculateEMI()">Calculate</button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="showResult">
    <ion-card-content>
      <div>
        Monthly EMI: {{emiAmountFormatted}}
      </div>
      <div>
        Total Interest Payable: {{totalInterest}}
      </div>
      <div>
        Total Payment: {{totalPayment}}
      </div>
      <div class="chart-container">
        <div class="chart">
          <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
            [options]="pieChartOptions" [colors]="pieChartColors" [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>