.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.button-row {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.mat-radio-button {
  margin-left: 16px;
}

.chart-container {
  margin-top: 15px;
}